@charset "utf-8";

header {
    color:aliceblue;
    /* font-size */
    background-color :darkcyan;
    text-align :left;
    width :100%;
    height :fit-content;
}

.header-right {
    text-align: right;
}

.container h5 {
    font-size: 1.5rem;
}
